@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;600;700&display=swap');

._container {
  font-family: 'Geologica', sans-serif;
  color: #fff;
  background-color: #10151A;
}

.header {
  position: relative;
  background-image: url(../img/main/bgi.jpeg);
  padding: 0 20px;
}

.nav {
  height: 128px;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;

  @media (max-width: 960px) {
    max-width: 95%;
    height: 108px;
  }

  @media (max-width: 768px) {
    max-width: 368px;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 13px;

    &-img {
      max-width: 60px;
      height: auto;
    }

    &-name {
      font-size: 28px;
      font-weight: 700;
      line-height: 200%;
      letter-spacing: 0.5px;

      @media (max-width: 960px) {
        font-size: 22.5px;
      }
      @media (max-width: 768px) {
        font-size: 17px;
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    @media (max-width: 768px) {
      display: none;
    }

    @media (max-width: 960px) {
      gap: 40px;
    }

    &-item {
      font-size: 18px;
      line-height: 200%;

      @media (max-width: 960px) {
        font-size: 16px;
      }
    }

    &-item-button {
      width: 128px;
      height: 40px;
      background-color: #262E37;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;

      @media (max-width: 960px) {
        width: 120px;
        height: 35px;
      }


      &-img {
        width: 24px;
        height: 24px;

        @media (max-width: 960px) {
          width: 20px;
          height: 20px;
        }
      }

      &-text {
        color: #ffffff;
        font-size: 16px;
        line-height: 175%;

        @media (max-width: 960px) {
          font-size: 15px;
        }
      }
    }
  }

  &__menu-icon {
    display: none;
    width: 24px;
    height: 24px;

    @media (max-width: 768px) {
      display: block;
    }
  }

}

.main {
  max-width: 1140px;
  margin: 0 auto 50px auto;
  padding: 10% 0;
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (max-width: 960px) {
    max-width: 655px;
  }

  @media (max-width: 768px) {
    max-width: 368px;
  }

  &__title {
    max-width: 910px;
    margin: 0 auto 30px auto;
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    line-height: 111%;
    text-shadow: 0 4px 18px rgba(0, 0, 0, 0.30);

    @media (max-width: 960px) {
      font-size: 52px;
    }

    @media (max-width: 768px) {
      max-width: 85%;
      line-height: 130%;
      font-size: 32px;
      margin: 0 auto 16px auto;
    }

    &-plain {
    }

    &-underline {
      position: relative;

      &-text {
        position: relative;
        display: inline-block;
        z-index: 3;
      }

      &-img {
        max-width: 223px;
        height: auto;
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translate(55%, 0);

        @media (max-width: 960px) {
          max-width: 162px;
        }

        @media (max-width: 768px) {
          max-width: 101px;
        }
      }
    }
  }

  &__text {
    max-width: 650px;
    margin: 0 auto 80px auto;
    font-size: 24px;
    line-height: 166%;
    text-align: center;
    opacity: 0.8;

    @media (max-width: 960px) {
      max-width: 540px;
      font-size: 20px;
      margin: 0 auto 50px auto;
    }

    @media (max-width: 768px) {
      max-width: 250px;
      font-size: 15px;
      margin: 0 auto 32px auto;
    }
  }

  &__button {
    padding: 16px 40px;
    background: linear-gradient(180deg, #FFD600 0%, #FFB800 100%);
    box-shadow: 0 9px 44px 0 rgba(255, 214, 0, 0.19);
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 600;
    line-height: 180%;

    @media (max-width: 960px) {
      padding: 12px 36px;
      font-size: 18px;
    }

    @media (max-width: 768px) {
      padding: 8px 28px;
      font-size: 16px;
      font-weight: 500;
    }
  }

}

.menu {
  width: 320px;
  background-color: #222930;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;

  &__close {
    display: block;
    position: relative;
    top: 0;
    left: 266px;
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__logo {
    height: 38px;
    width: auto;
    margin-bottom: 14px;
  }

  &__company {
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    line-height: 200%;
    letter-spacing: 0.4px;
    margin-bottom: 40px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    margin-bottom: 32px;

    &-item {
      padding: 10px 20px;
      background: rgba(255, 255, 255, 0.10);
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px;
      text-align: left;
      color: #ffffff;
      font-size: 15px;
      font-weight: 600;
      line-height: 213%;
    }
  }

  &__socials {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  &__socials-item {
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.10);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-text {
      font-size: 15px;
      color: #ffffff;
      font-weight: 600;
      line-height: 210%;
    }

    &-img {
      width: 24px;
      height: 24px;
    }
  }
}

main {
  padding: 0 20px;
  max-width: 1140px;
  margin: 0 auto;

  @media (max-width: 960px) {
    max-width: 655px;
  }

  @media (max-width: 768px) {
    max-width: 368px;
  }
}

.benefits {
  margin-bottom: 100px;

  &__title {
    position: relative;
    margin-bottom: 80px;

    @media (max-width: 768px) {
      margin-bottom: 24px;
    }

    &-text {
      position: relative;
      z-index: 2;
      text-align: center;
      font-size: 48px;
      line-height: 190%;

      @media (max-width: 960px) {
        font-size: 40px;
        line-height: 130%;
      }

      @media (max-width: 768px) {
        max-width: 288px;
        margin: 0 auto;
        font-size: 24px;
        line-height: 120%;
      }
    }

    &-underline {
      position: absolute;
      max-width: 773px;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);

      @media (max-width: 960px) {
        max-width: 550px;
        transform: translate(-50%, 0);
      }

      @media (max-width: 768px) {
        max-width: 140px;
        height: 20px;
        transform: translate(-50%, 20%);
      }
    }
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
    }
  }

  &__item {
    max-width: 252px;

    @media (max-width: 960px) {
      max-width: 202px;
    }

    @media (max-width: 768px) {
      max-width: none;
    }

    &-dots {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 30px;


      @media (max-width: 960px) {
        margin-bottom: 20px;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    &-dots-full {
      height: 24px;
      width: 24px;
      background-color: #439BE4;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;

      @media (max-width: 960px) {
        height: 20px;
        width: 20px;
      }
    }

    &-dots-empty {
      height: 24px;
      width: 24px;
      background-color: #1D3345;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;

      @media (max-width: 960px) {
        height: 20px;
        width: 20px;
      }
    }

    &-title {
      color: #FFD600;
      font-size: 24px;
      line-height: 150%;
      margin-bottom: 10px;

      @media (max-width: 960px) {
        font-size: 20px;
      }

      @media (max-width: 768px) {
        margin-bottom: 4px;
      }
    }

    &-text {
      font-size: 20px;
      line-height: 160%;

      @media (max-width: 960px) {
        font-size: 16px;
      }
    }
  }

}

.projects {
  position: relative;
  max-width: 1140px;
  margin: 0 auto 200px auto;

  @media (max-width: 960px) {
    max-width: 736px;
    margin: 0 auto 80px auto;
  }

  @media (max-width: 768px) {
    max-width: 368px;
  }

  &__border-block {
    box-sizing: content-box;
    padding: 3px;
    z-index: 1;
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #FFD12F, #FF9F47);
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
  }

  &__container {
    background-color: #151A20;
    position: relative;
    z-index: 2;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    padding: 80px;

    @media (max-width: 960px) {
      padding: 36px;
    }

    @media (max-width: 768px) {
      padding: 16px;
    }

    @media (max-width: 400px) {
      padding: 16px 5px;
    }
  }

  .apps {
    margin-bottom: 60px;

    @media (max-width: 960px) {
      margin-bottom: 40px;
    }

    @media (max-width: 768px) {
      margin-bottom: 32px;
    }

    &-title {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      margin-bottom: 30px;

      @media (max-width: 960px) {
        margin-bottom: 24px;
      }

      @media (max-width: 768px) {
        margin-bottom: 16px;
      }

      &-img {
        width: 24px;
        height: 24px;

        @media (max-width: 960px) {
          width: 20px;
          height: 20px;
        }

        @media (max-width: 768px) {
          width: 16px;
          height: 16px;
        }
      }

      &-text {
        color: #FFD600;
        font-size: 28px;
        font-weight: 600;
        line-height: 128%;

        @media (max-width: 960px) {
          font-size: 24px;
        }

        @media (max-width: 768px) {
          font-size: 18px;
        }
      }
    }

    &-items {
      max-width: 701px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
      flex-wrap: wrap;

      @media (max-width: 960px) {
        max-width: 620px;
        gap: 16px;
      }

      @media (max-width: 768px) {
        max-width: 260px;
        gap: 8px;
      }
    }

    &-item {
      padding: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      border-radius: 12px;
      background: rgba(255, 255, 255, 0.10);

      @media (max-width: 960px) {
        gap: 12px;
      }

      @media (max-width: 768px) {
        gap: 5px;
        padding: 0 8px 0 0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
      }

      &-img {
        width: 40px;
        height: 40px;

        @media (max-width: 960px) {
          width: 36px;
          height: 36px;
        }

        @media (max-width: 768px) {
          width: 24px;
          height: 24px;
        }
      }

      &-text {
        font-size: 18px;
        font-weight: 600;
        line-height: 170%;

        @media (max-width: 960px) {
          font-size: 16px;
        }

        @media (max-width: 768px) {
          font-size: 14px;
        }
      }
    }
  }

  .systems {
    margin-bottom: 60px;

    @media (max-width: 960px) {
      margin-bottom: 40px;
    }

    @media (max-width: 768px) {
      margin-bottom: 32px;
    }

    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      margin-bottom: 30px;

      @media (max-width: 960px) {
        margin-bottom: 24px;
      }

      @media (max-width: 768px) {
        max-width: 173px;
        margin: 0 auto 16px auto;
      }

      &-img {
        width: 24px;
        height: 24px;

        @media (max-width: 960px) {
          width: 20px;
          height: 20px;
        }

        @media (max-width: 768px) {
          display: none;
        }
      }

      &-text {
        color: #FFD600;
        font-size: 28px;
        font-weight: 600;
        line-height: 130%;

        @media (max-width: 960px) {
          font-size: 24px;
        }

        @media (max-width: 768px) {
          text-align: center;
          font-size: 18px;
        }
      }
    }

    &__items {
      display: flex;
      justify-content: space-between;
      gap: 42px;

      @media (max-width: 960px) {
        gap: 24px;
      }

      @media (max-width: 768px) {
        display: block;
      }
    }

    &__items > div:not(:last-child) {
      margin-bottom: 16px;
    }

    &__item {
      flex: 0 1 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 32px;
      background: rgba(255, 255, 255, 0.10);
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      border-radius: 16px;

      @media (max-width: 960px) {
        padding: 32px 24px;
      }

      @media (max-width: 768px) {
        max-width: 260px;
        margin: 0 auto;
        padding: 12px 16px;
      }

      &-img {
        width: 52px;
        height: 52px;
        margin-bottom: 16px;

        @media (max-width: 960px) {
          width: 48px;
          height: 48px;
        }

        @media (max-width: 768px) {
          display: none;
        }
      }

      &-title {
        text-align: center;
        color: #FFD600;
        font-size: 24px;
        font-weight: 600;
        line-height: 150%;

        @media (max-width: 960px) {
          font-size: 22px;
        }

        @media (max-width: 768px) {
          font-size: 18px;
        }
      }

      &-text {
        text-align: center;
        font-size: 20px;
        line-height: 160%;
        max-width: 300px;

        @media (max-width: 960px) {
          font-size: 16px;
        }

        @media (max-width: 768px) {
          max-width: 200px;
          font-size: 14px;
        }
      }
    }
  }

  .blockchains {

    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      margin-bottom: 30px;

      @media (max-width: 960px) {
        margin-bottom: 24px;
      }

      @media (max-width: 768px) {
        margin-bottom: 16px;
      }

      &-img {
        width: 24px;
        height: 24px;

        @media (max-width: 960px) {
          width: 20px;
          height: 20px;
        }

        @media (max-width: 768px) {
          width: 16px;
          height: 16px;
        }
      }

      &-text {
        color: #FFD600;
        font-size: 28px;
        font-weight: 600;
        line-height: 130%;

        @media (max-width: 960px) {
          font-size: 24px;
        }

        @media (max-width: 768px) {
          font-size: 18px;
        }
      }
    }

    &__items {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 24px;
      flex-wrap: wrap;

      @media (max-width: 960px) {
        gap: 16px;
      }

      @media (max-width: 768px) {
        gap: 12px;
      }
    }

    &__item {
      flex: 1 1 20%;
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 16px 24px;
      background: rgba(255, 255, 255, 0.10);
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      border-radius: 16px;

      @media (max-width: 1015px) {
        flex: 0 0 25%;
      }

      @media (max-width: 960px) {
        gap: 12px;
        padding: 12px 16px;
      }

      @media (max-width: 768px) {
        flex: 0 0 45%;
        width: 45%;
        gap: 8px;
      }

      &-img {
        width: 44px;
        height: 44px;

        @media (max-width: 960px) {
          width: 32px;
          height: 32px;
        }

        @media (max-width: 768px) {
          width: 28px;
          height: 28px;
        }
      }

      &-text {
        font-size: 18px;
        font-weight: 600;
        line-height: 170%;

        @media (max-width: 960px) {
          font-size: 14px;
        }

        @media (max-width: 768px) {
          font-size: 12px;
        }
      }
    }
  }
}

.club {
  max-width: 1140px;
  margin: 0 auto 160px auto;
  padding: 50px 70px;
  background: linear-gradient(169deg, #A96BF7 0%, #3103B5 100%);
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;

  @media (max-width: 960px) {
    max-width: 736px;
    padding: 35px 50px;
    margin: 0 auto 80px auto;
  }

  @media (max-width: 768px) {
    max-width: 368px;
    padding: 16px;
  }

  &__title {
    font-size: 40px;
    font-weight: 600;
    line-height: 180%;
    margin-bottom: 5px;

    @media (max-width: 960px) {
      font-size: 36px;
    }

    @media (max-width: 768px) {
      font-size: 22px;
      line-height: 130%;
    }
  }

  &__text {
    max-width: 800px;
    font-size: 20px;
    line-height: 180%;
    margin-bottom: 20px;

    @media (max-width: 960px) {
      max-width: 630px;
      font-size: 18px;
      margin-bottom: 30px;
    }

    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 150%;
      margin-bottom: 20px;
    }
  }

  &__benefits {
    margin-bottom: 45px;

    @media (max-width: 960px) {
      margin-bottom: 40px;
    }

    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  &__benefit {
    display: flex;
    gap: 16px;

    @media (max-width: 960px) {
      gap: 12px;
    }

    @media (max-width: 768px) {
      gap: 8px;
    }

    &-img {
      width: 24px;
      height: 24px;

      @media (max-width: 960px) {
        width: 20px;
        height: 20px;
      }

      @media (max-width: 768px) {
        width: 16px;
        height: 16px;
      }
    }

    &-text {
      font-size: 20px;
      font-weight: 600;
      line-height: 180%;

      @media (max-width: 960px) {
        font-size: 18px;
      }

      @media (max-width: 768px) {
        font-size: 14px;
        line-height: 140%;
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 28px;

    @media (max-width: 960px) {
      gap: 16px;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 12px;
    }

    & > button {
      padding: 16px 40px;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      border-radius: 16px;
      font-size: 20px;
      line-height: 180%;

      @media (max-width: 960px) {
        padding: 12px 36px;
        font-size: 18px;
      }

      @media (max-width: 768px) {
        padding: 8px;
        font-size: 16px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
      }
    }

    &-join {
      color: #000000;
      background: linear-gradient(180deg, #FFD600 0%, #FFB800 100%);
      box-shadow: 0 9px 44px 0 rgba(255, 214, 0, 0.19);
    }

    &-learn {
      color: #ffffff;
      background: rgba(255, 255, 255, 0.15);
    }
  }
}

.learn {
  margin-bottom: 160px;

  @media (max-width: 960px) {
    margin-bottom: 80px;
  }

  &__title {
    position: relative;
    margin-bottom: 50px;

    @media (max-width: 960px) {
      margin-bottom: 45px;
    }

    @media (max-width: 768px) {
      margin-bottom: 30px;
    }

    &-text {
      position: relative;
      z-index: 2;
      text-align: center;
      text-shadow: 0 2px 25px rgba(0, 0, 0, 0.60);
      font-size: 48px;
      line-height: 190%;

      @media (max-width: 960px) {
        font-size: 40px;
        line-height: 130%;
      }

      @media (max-width: 768px) {
        font-size: 24px;
        line-height: 110%;
      }
    }

    &-underline {
      width: 300px;
      height: 25px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -60%);

      @media (max-width: 960px) {
        max-width: 280px;
        height: 21px;
        transform: translate(-50%, 0);
      }

      @media (max-width: 768px) {
        max-width: 165px;
        height: 12px;
        transform: translate(-50%, 25%);
      }
    }
  }

  &__items {
    display: flex;
    gap: 44px;

    @media (max-width: 960px) {
      gap: 28px;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__item {
    flex: 0 1 33%;
    background-color: #1B2A40;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    overflow: hidden;

    &-img {
      width: 100%;
    }

    &-info {
      padding: 20px 28px;

      @media (max-width: 960px) {
        padding: 16px 20px;
      }
    }

    &-title {
      color: #FFD600;
      font-size: 15px;
      font-weight: 600;
      line-height: 240%;
      text-transform: uppercase;
      letter-spacing: 0.4px;
      margin-bottom: 5px;

      @media (max-width: 960px) {
        line-height: 210%;
      }
    }

    &-text {
      font-size: 20px;
      font-weight: 600;
      line-height: 160%;

      @media (max-width: 960px) {
        font-size: 16px;
        line-height: 150%;
      }
    }
  }
}

.backed {
  margin-bottom: 160px;

  @media (max-width: 960px) {
    margin-bottom: 80px;
  }

  &__title {
    position: relative;
    margin-bottom: 45px;

    @media (max-width: 768px) {
      margin-bottom: 33px;
    }

    &-text {
      position: relative;
      z-index: 2;
      text-align: center;
      text-shadow: 0 2px 25px rgba(0, 0, 0, 0.60);
      font-size: 48px;
      font-weight: 600;
      line-height: 190%;

      @media (max-width: 960px) {
        font-size: 40px;
        line-height: 130%;
      }

      @media (max-width: 768px) {
        font-size: 24px;
        line-height: 116%;
      }
    }

    &-underline {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-45%, -50%);

      @media (max-width: 960px) {
        transform: translate(-45%, 10%);
        width: 260px;
        height: 23px;
      }

      @media (max-width: 768px) {
        width: 163px;
        height: 14px;
        transform: translate(-45%, 10%);
      }
    }
  }

  &__companies {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
    margin-bottom: 36px;
    flex-wrap: wrap;

    @media (max-width: 960px) {
      gap: 30px;
      margin-bottom: 30px;
    }

    &-item {
      height: 72px;
      width: auto;

      @media (max-width: 1140px) {
        height: 50px;
      }
    }
  }

  &__clients {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    flex-wrap: wrap;

    @media (max-width: 960px) {
      gap: 20px;
    }

    &-item {
      font-size: 18px;
      font-weight: 600;
      line-height: 170%;
      padding: 8px 24px;
      text-align: center;
      border: 2px solid rgba(255, 255, 255, 0.15);
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px;

      @media (max-width: 960px) {
        font-size: 14px;
      }
    }
  }
}

.footer {
  padding: 32px 20px;
  background: linear-gradient(180deg, #FFD600 0%, #FFC700 100%);
  color: #000000;

  &__container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 960px) {
      max-width: 736px;
    }

    @media (max-width: 768px) {
      max-width: 368px;
      flex-direction: column;
      gap: 20px;
    }
  }

  &__logo {
    width: 56px;
    height: auto;

    @media (max-width: 960px) {
      width: 48px;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 56px;

    @media (max-width: 960px) {
      gap: 44px;
    }

    &-item {
      font-size: 20px;
      font-weight: 600;
      line-height: 180%;
      opacity: 0.7;

      @media (max-width: 960px) {
        font-size: 18px;
        line-height: 200%;
      }
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 32px;

    @media (max-width: 960px) {
      gap: 24px;
    }

    &-item {
      width: 32px;
      height: 32px;

      @media (max-width: 960px) {
        width: 28px;
        height: 28px;
      }
    }
  }
}